.Orr et al. 2014 species identification in GoA and AI surveys - NOAA PR2014-01.pdf.icloud
.Stauffer 2003 groundfish protocols - NOAA tm65.pdf.icloud
.species_codebook_2011.pdf.icloud
.von Szalay et al. 2011 NOAA-TM-AFSC-215.pdf.icloud
