.Rapp.history
.DS_Store
!*.csv
.Rhistory
ai1983_2000.csv
ai2002_2012.csv
ai2014_2016.csv
ai_strata.csv
ebs1982_1984.csv
ebs1985_1989.csv
ebs1990_1994.csv
ebs1995_1999.csv
ebs2000_2004.csv
ebs2005_2008.csv
ebs2009_2012.csv
ebs2013_2016.csv
ebs2017.csv
ebs_strata.csv
gmex_BGSREC.csv
gmex_CRUISES.csv
gmex_INVREC.csv
gmex_NEWBIOCODESBIG.csv
gmex_STAREC.csv
goa1984_1987.csv
goa1990_1999.csv
goa2001_2005.csv
goa2007_2013.csv
goa2015_2017.csv
goa_strata.csv
neus_SVSPP.RData
neus_Survdat.RData
neus_strata.csv
neus_svspp.csv
seus_catch.csv
seus_haul.csv
seus_strata.csv
spptaxonomy.csv
wcann_catch.csv
wcann_haul.csv
wctri_catch.csv
wctri_haul.csv
wctri_species.csv
